.label { 
	font-family: sans-serif;
	font-weight: bold;
}

.editcategory	{ font-style: italic; }

.regular 	{ color: green; }
.vandalism	{ color: red; }    

.insert-line 	{ color: green; }
.delete-line	{ color: red; }    
.insert-text 	{ color: green; }
.delete-text	{ color: red; }    
